!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Chippewa Valley Ruby Camp 2012 | EC Ruby - The Chippewa Valley Ruby Users Group
    
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %link{:href => "http://fonts.googleapis.com/css?family=Molengo", :rel => "stylesheet", :media => "screen"}
    %link{:href => "styles/stylesheet.css", :rel => "stylesheet", :media => "screen"}
    
  %body
    #container
      %header
        .imgs
          %img{:src => "images/cvrc.png", :class => "logo"}
          %a{:href => "http://events.ecruby.org/events/30"}
            %img{:src => "images/register.png"}
        #box
          %h2 FREE Hands-on Web Development Workshop With Ruby
          %h3 Learn Ruby and Win Prizes, too!
          %p{:class => "date"}
            Saturday<br>
            %span{:class => "day"}
              February <strong>18</strong>, 2012
          %p 
            JAMF Software offices
            315 Graham Ave, Eau Claire WI
          %p
            Run by ECRuby, the Eau Claire Ruby Users Group
          %span{:class => "footnote"}
            * be there, or kindly be square
            
      .clear
      
      %article#content
        %section#description
          %h1
            %img{:src => "images/callout.png"}
          %p
            We love the Ruby programming language. In fact, we love it so much that we want to share it with you in a day-long Ruby Camp! In under a day, you’ll participate in a hands-on workshop where you’ll build and deploy a couple of web applications, using HTML5 and some Ruby web frameworks.
          %p
            We'll provide food and refreshments throughout the day as well. 
          
          %p
            We’ll even help you get your machine ready before we start. All you have to do is bring a laptop.
            
          %p
            We're aiming this at developers who have even basic knowledge of Java, .Net, PHP, and ColdFusion, and we'll be ready to answer your questions about Ruby. Also, we welcome any new programmers, students, and those new to web development.
        #splitColumns
          %section#schedule
            %h2
              %img{:src => "images/schedule.png"}
            %p
              %span [8:00 - 8:30] Check-in:
              Sign in, get comfortable, and meet your fellow campers.
            %p

              %span [8:30 - 9:15] Setup and Breakfast
              Campers will work with our helpers to install the tools needed to follow along with the workshops. Linux, Windows, and Mac users will have Ruby, Rails, Git, Github, Heroku, and an IDE setup so that Ruby is available to you after the camp as well. Breakfast will be provided!
            %p
              %span [9:15 - 10:15] Learn HTML and CSS
              To have a better understanding while working with Ruby on Rails, we'll work through understanding basic to complex HTML and CSS. This may be review to some programmers.
            %p
              %span [10:30 - 11:45] Web Development With Sinatra
              Learn how to build a simple web application using the Sinatra
              web framework.
            
            %p
              %span [11:45 - 12:45] Lunch
              Lunch, sponsored by JAMF Software.
              
            %p   
              %span [12:45 - 2:00] Rails Overview
              Get acquainted with Ruby web application development using the Ruby on Rails framework to build an online cookbook. Learn how to use the Rails framework to receive requests and display web pages. Discussion will follow of the Model View Controller pattern.
              
            %p
              %span [2:15 - 3:15] Rails Forms and Databases
              We'll pick up where we left off by getting into some more detailed Ruby coding, including how to use Rails and its libraries to build an interface where users can create, update, retrieve, and delete items in the database through a web interface without writing a single line of SQL or program logic.  
            %p
              %span [3:30 - 4:15] Creating a Mobile View
              We'll take our existing application and show how 
              Rails and the MVC pattern make it easy to present
              our data in multiple formats for different devices.
            %p
              %span [4:30 - 5:00] Showing Off Your Work
              We'll show you how to put your application up on the
              Internet for everyone to see.
            %p
              %span [5:00 - 5:30] Wrap-up and Prize Drawing
              
            %p
              %a{:href => "http://events.ecruby.org/events/30"}
                %img{:src => "images/register.png"}
            %h2 Location and Parking
            %p The camp is in Downtown Eau Claire, and you can park on street or in any of the municiple lots for free.
            
            <iframe width="425" height="350" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?client=safari&amp;oe=UTF-8&amp;ie=UTF8&amp;cid=0,0,5367631383708683993&amp;fb=1&amp;hq=JAMF+Software+offices&amp;hnear=0x87f8bd0ce31da303:0xa5ed3e5127fb21ee,315+Graham+Ave,+Eau+Claire,+WI+54701&amp;gl=us&amp;daddr=312+South+Barstow+Street,+Eau+Claire,+WI+54701&amp;geocode=0,44.810761,-91.499343&amp;t=m&amp;z=16&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?client=safari&amp;oe=UTF-8&amp;ie=UTF8&amp;cid=0,0,5367631383708683993&amp;fb=1&amp;hq=JAMF+Software+offices&amp;hnear=0x87f8bd0ce31da303:0xa5ed3e5127fb21ee,315+Graham+Ave,+Eau+Claire,+WI+54701&amp;gl=us&amp;daddr=312+South+Barstow+Street,+Eau+Claire,+WI+54701&amp;geocode=0,44.810761,-91.499343&amp;t=m&amp;z=16&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>    
          #right

            %h2 Sponsors

            %h3 
              %a{:href => "http://www.jamfsoftware.com/"}
                %img{:src => "images/jamf.png", :alt=>"JAMF Softwre"}

            %h3 
              %a{:href => "http://www.gettyimages.com/"}
                %img{:src => "images/getty.png", :alt=>"Getty Images"}

            %h3 
              %a{:href => "http://www.groupon.com/"}
                %img{:src => "images/groupon.png", :alt=>"Groupon"}
          
            %h3 
              %a{:href => "http://www.roundarch.com/"}
                %img{:src => "images/roundarch.png", :alt=>"RoundArch"}
            
            %h2 Instructors
            
            %h3 Brian Hogan
            %p
              Brian is an author, editor, trainer, and web developer who’s been building web sites professionally since 1995 as a freelancer and consultant. He enjoys teaching and writing about technology, particularly web design, accessibility, and development. When not hacking on Ruby or JavaScript code, he’s writing songs, watching “The Simpsons,” or spending quality time with his wife and daughters.
            
            %h3 Emma Smith
            %p
              Emma is a psychology and web design student at UW-Eau Claire. She has been working professionally in web development since June 2011, and designing with HTML and CSS in her free time since 2006. Her language of choice: Ruby on Rails. When she's not programming, she enjoys drawing, training in the Korean martial art Tae Soo Do, playing and listening to music, and catching the latest episodes of "My Little Pony: Friendship is Magic."
              
            %h3 Charley Stran
            %p 
              Charley is a self taught developer who has been doing freelance work 
              since 2007. While Charley stays mainly in the Ruby and JavaScript
              world, he occasionally ventures in a few of the popular PHP based CMS
              systems. In addition to his development, he has done several technical
              reviews for the Pragmatic Programmers. When not hacking , Charley
              spends his time with his wife catching up on “How I met Your mother”
              and spending time with his niece and nephews.
            
    .clear
    
    %footer
      This event is graciously hosted by JAMF Software and run by the
      %a{:href => "http://www.ecruby.org"}
        Eau Claire Ruby Users Group
